/* Hace que Chrome/Edge NO apliquen el fondo amarillo/blanco del autofill a los inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-dark) inset !important;
    box-shadow: 0 0 0px 1000px var(--color-dark) inset !important;
    -webkit-text-fill-color: var(--color-white) !important;
    caret-color: var(--color-white) !important;
    transition: background-color 9999s ease-in-out 0s !important;
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.programmatic-focus-target:focus {
    outline: none;
}
