@import url('@/styles/colors.css');
@import url('@/styles/fonts.css');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #555 var(--dark-color);
    height: 100%;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    background-color: var(--dark-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Hace que Chrome/Edge NO apliquen el fondo amarillo/blanco del autofill a los inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-color) inset !important;
    box-shadow: 0 0 0px 1000px var(--dark-color) inset !important;
    -webkit-text-fill-color: var(--white-color) !important;
    caret-color: var(--white-color) !important;
    transition: background-color 9999s ease-in-out 0s !important;
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}
